<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Snake? Snake?! SNAAAAAAAAKKEEEEE!</title>
        <link rel="stylesheet"
	href="static/myfirsttime/css/index.css" />
    <link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="static/myfirsttime/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/myfirsttime/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/myfirsttime/favicon-16x16.png">
        <link rel="manifest" href="static/myfirsttime/manifest.json">
        <link rel="mask-icon" href="static/myfirsttime/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body ng-app="Snake">
        <div ng-view></div>


        <!-- JS libraries -->
        <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
        <script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
        <script src="static/myfirsttime/js/vendor/angular.min.js"></script>
        <script src="static/myfirsttime/js/vendor/angular-route.min.js"></script>
        <script src="static/myfirsttime/main.js"></script>

    <!-- REST Services -->
  	<script src="static/myfirsttime/js/services/main.service.js"></script>


	<!-- Controllers -->
    <script src="static/myfirsttime/js/controllers/main.controller.js"></script>
    

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav"role="navigation">
    <div class="container-fluid topnav" style="padding-left:30px;padding-right:30px;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/">
                <img class="navbar-logo-img" src="static/myfirsttime/img/logo.svg"/>
                A Simple 'Snake' Game
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="about">About</a>
                </li>
                <li>
                    <a href="highscores">Highscores</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    </nav>

       
    </body>
</html>
